@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* ensure no margins, border and paddings are added to elements */
* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --red: #91363a;
  --green: #07412b;
}
/* default font and color for the entire page */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  background-color: #e8e8f3;
}

/* all buttons to have pointer effect */
button {
  cursor: pointer;
}

/* Set the background image for the main area */
main {
  background-image: url("../images/pikpng_com_soccer.webp");
  background-repeat: no-repeat;
  background-size: contain;

}

/* The header area containing the logo, title and Quiz level*/
header {
  width: 100%;
  background-color: white;
  position: relative;
  top: 5px;
}

/* #logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
} */

#logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url("../images/spiration-light.png");
}


#title {
  /* display: flex;
  width: 32%; */
  letter-spacing: 3px;
  position: relative;
  margin: 1rem auto;
}

header img {
  margin: 1rem auto;
  width: 100px;
  height: auto;
}

#title-image {
  position: relative;
  margin: 0 auto;
}

#player-container {
  position: relative;
  margin: 2rem auto;
  font-size: 1.5rem;
  color: var(--green);
}

/* #player {
  margin-left: 0.5rem;
} */

#quiz-level-container {
  clear: both;
  width: 100%;
  height: 3em;
  background-image: linear-gradient(rgba(218, 222, 224, 0.7), rgba(24, 133, 192, 0.7));
}

.quiz-level {
  width: 60%;
  margin: 0 auto;
  height: 1.8rem;
}

.active-quiz-level {
  color: white;
  background-color: #07412b;
}

.quiz-level .quiz-btn {
  padding: 0.4em;
  width: 46%;
  font-size: 110%;
  border-radius: 10px;
  margin-top: 0.4em;
}

/* consistent hover effect for the quiz level, options, detailed instructions */
.quiz-level .quiz-btn:hover,
.option:hover,
.option-selected,
#detailed-instructions:hover {
  background-color: #07412b;
  color: rgb(255, 255, 255);
}

.option-selected {
  background-color: #07412b !important;
  color: white;
}

/* The question area has the question, a divider line, the instruction and link for the detailed instruction */
#question-area {
  width: 70%;
  height: auto;
  border: 5px solid rgb(202, 110, 182);
  border-radius: 10px;
  margin: 1rem auto;
  position: relative;
  background-color: whitesmoke;
}

/* some space for the question */
#question-container {
  padding: 0.3rem;
}

#question-container h2 {
  font-size: 110%;
}

#instruction {
  color: green;
  font-size: 100%;
  padding: 0.3rem;
  text-align: center;
  background-color: whitesmoke;
}

#detailed-instructions {
  color: rgb(34, 9, 29);
  cursor: pointer;
}

.line {
  border-top: 1px solid rgb(202, 110, 182);
}

/* The time container is a flex display having the counters for the total questions, elapsed time, view quiz result button */
#time-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.counters {
  display: flex;
  width: 30%;
  padding-top: 0.5rem;
  background-color: #e8e8f3;
}

#time-container,
#answer-area {
  width: 70%;
  margin: 0 auto;
}

.counters span {
  padding: 0 5px;
  color: green;
  background-color: whitesmoke;
  border-radius: 5px;
}

#time-container p {
  padding: 0.5rem 0;
}

#remaining-time {
  color: red;
  font-size: 100%;
  padding: 0.2em;
}

/* View result button hidden by controller.js until the result is displayed */
#view-result-btn:hover {
  background-color: yellowgreen;
  color: white;
}

#view-result-btn {
  height: auto;
  border: 2px solid rgb(202, 110, 182);
  border-radius: 5px;
  padding: 0.2rem;
  position: relative;
  background-color: whitesmoke;
  font-size: 100%;
}

/* answer area haveing the 4 answer options, the command buttons for submit answer, next question, etc*/
.option {
  border: 1px solid #0f0b49;
  padding: 0.4rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: whitesmoke;
  cursor: pointer;
}

/* used by controller.js to hide an answer sign - the x or √ */
.answer-sign-none {
  display: none;
}

/* used by controller.js to indicate the correct answer option */
.answer-sign-selected {
  float: right;
  color: white;
  display: block;
}

/* used by controller.js to indicate a red x to the wrong answer options */
.answer-sign-x {
  float: right;
  color: red;
  display: block;
}

/* the 4 buttons below the answer options */
#command-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #e8e8f3;
}

.command-btns {
  display: flex;
  width: 23%;
  padding: 0 1%;
}

.command-btn {
  background-color: #c3c2d1;
  padding: 0.2em;
  text-align: center;
  font-size: 100%;
  border: 2px solid rgb(202, 110, 182);
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin: 2px auto;
}

.command-btn:hover {
  background-color: yellowgreen;
  color: white;
}

/* The totals for the correct and wrong answers displayed below the command buttons */
#answer-box {
  background-color: whitesmoke;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#correct-answer-container {
  float: left;
  margin: 0.5rem;
}

#wrong-answer-container {
  float: right;
  margin: 0.5rem;
}

#correct-answer {
  color: #008000;
}

#wrong-answer {
  color: red;
}

#wrong-answer-icon {
  color: red;
  font-size: 150%;
  padding-right: 0.2em;
}

#correct-answer-icon {
  color: green;
  font-size: 150%;
  padding-right: 0.2em;
}

/* Username  and confirm, and alert modal window */
/* Modal styling adopted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
.modal,
#confirm,
#alert {
  display: none;
  position: fixed;
  z-index: 5;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: initial !important;
  background-color: rgba(189, 177, 231, 0.7);
  padding-top: 60px;
}

/* Modal Content */
.username-modal-content,
.confirm-content {
  position: relative;
  background-image: url("../images/spiration-light.png");
  /* background-color: #fefefe; */
  overflow-y: auto;
  margin: 20vh auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  animation-name: topAnimation;
  animation-duration: 0.6s
}

/* Username input field */
input[type=text] {
  width: 50%;
  padding: 0.5rem;
  margin: 5% 15%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 120%;
}

/* Cobnirmation modal window */
#confirm {
  /* need to be above the possibly displayed modal window */
  z-index: 10;
}

.confirm-content button {
  width: 47.5%;
  line-height: 2rem;
  text-align: center;
  margin: 5% 1%;
  color: white;
  font-size: 100%;
  border-radius: 10%;
  height: 2rem;
}

.confirm-content .confirm-ok {
  width: 98%;
  background-color: green;
}

.confirm-content .username-header {
  margin: 5% 2%;
  font-size: 120%;
}

.confirm-yes {
  background-color: green;
}

.confirm-no {
  background-color: red;
}

.confirm-message {
  padding: 0.5em 1em;
  font-size: 110%;
  font-style: italic;
}

/* used by the controller.js to color a text red */
.red-text {
  color: red;
  font-weight: bold;
}

/* used by the controller.js to color a text green */
.green-text {
  color: green;
  font-weight: bold;
}

.username-container {
  width: 80%;
  margin: 0 auto;
}

/* Set a style for all buttons */
.username-container>button {
  background-color: green;
  color: white;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  border-radius: 10px;
  bottom: 0.5em;
  font-size: 120%;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}

label {
  font-size: 100%;
}

.username-container>button:hover {
  opacity: 0.8;
}

/* The Close Button */
.close-btn {
  color: white;
  float: right;
  font-size: 1rem;
}

.close-btn:hover,
.close-btn:focus {
  /* color: #000; */
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.username-header {
  padding: 0.5em 1em;
  background-color: blue;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

/* footer section */
footer {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.5% 0;
  margin-top: 15px;
  background-color: white;
  bottom: 0.5rem;
  position: relative;
  margin-top: 2rem;
}

.contact-us span {
  margin-top: 10px;
}

.contact-us span a {
  margin: 0 30px 5px 30px;
  color: #252525;
  font-size: 150%;
  text-decoration: none;
}

/* Media queries 
 For larger to medium screens size from 1060px width and down. The point that our Title and football logo gets distorted */
@media screen and (max-width: 1060px) {

  /* make the title be on a single row and the icon and player to be on a new row */
  #title {
    width: 80%;
  }

  #title-image {
    width: 50%;
    left: 6%;
    margin: 0 auto;
  }

  header img {
    margin-bottom: 0;
  }
/* reduce header font size */
  h1 {
    font-size: 130%;
  }

  .quiz-level {
    width: 80%;
  }

  /* #player-container {
    width: 38%;
  } */

  .command-btns {
    width: 48%;
    margin: 0 auto;
  }

  /* answer total area reduce to single column */
  #answer-box {
    font-size: 100%;
  }

  .counters {
    width: 45%;
  }

  #wrong-answer-container {
    float: left;
  }

  .username-modal-content,
  .confirm-content {
    width: 80%;
    height: 50%;
  }

  .username-header h2 {
    font-size: 120%;
  }

  .confirm-content button {
    width: 45%;
  }

  input[type=text] {
    width: 80%;
    margin: 5% 0;
    font-size: 100%;
  }

  .username-container>button {
    width: 90%;
    font-size: 100%;
  }

}

/*For larger to medium screens size from 1060px width and down. The point that our Title and football logo gets distorted */
@media screen and (max-width: 450px) {
  .contact-us span a {
    margin: 0 5px;
    font-size: 100%;
  }

  .counters {
    width: 90%;
  }
}